.valid.modified:not([type=checkbox]) {
    border-bottom: 1px solid #26b050;
}

.invalid {
    border-bottom: 1px solid red;
}

.validation-errors {
    margin-bottom: 5px;
}

.validation-message {
    color: red;
    white-space: pre-line;
}

#blazor-error-ui {
    left: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 1000;
    position: fixed;
    background: lightyellow;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

#blazor-error-ui .dismiss {
    top: 0.5rem;
    right: 0.75rem;
    cursor: pointer;
    position: absolute;
}
