@font-face {
    font-family: "Monotype Corsiva";
    src: url("\fonts\Monotype_Corsiva.ttf");
}

* {
    cursor: default;
}

body {
    font-family: 'Sitka Heading', sans-serif;
    font-size: 1.1rem;
    background-color: whitesmoke;
}

a,
input,
select,
textarea,
summary {
    cursor: pointer;
}

a {
    color: dodgerblue;
}

select {
    background-color: white;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}