@font-face {
    font-family: "Open Sans";
    src: local("Monotype Corsiva"), 
         url("https://github.com/agile7tiger/eye/blob/gh-pages/fonts/MonotypeCorsiva.ttf?raw=true")
}

body {
    font-family: 'Sitka Heading', sans-serif;
    font-size: 1.1rem;
    background-color: whitesmoke;
}

a,
input,
button,
select,
textarea,
summary {
    cursor: pointer;
}

a {
    color: dodgerblue;
}

select {
    height: 32px;
    outline-color: #ccc;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
}

select > option {
    background: #eee;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
}