<div class="header">
    <div>
        <a href="Quotes" class="brand">EyE</a>
        <a href="https://eye.somee.com/api/Home/Index" target="_blank" class="advertisingLink">Реклама</a>
    </div>
    <div>
        <UserMenu />
        <LanguageSelector />
        <AdminMenu />
    </div>
</div>