<div class="header">
    <div>
        <a href="Quotes" class="brand">EyE</a>
        <a href="Home/Index" target="_blank" class="advertisingLink">Реклама</a>
    </div>
    <UserMenu />
    <AdminMenu />
</div>