.header {
    height: 3.5rem;
    padding: 0.5rem 3rem 0.5rem 1rem;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #bbb;
    background: linear-gradient(to bottom, #ddd 0%, #ccc 100%);
}

.header > div{
    display: flex;
    align-items: center;
}

.header .brand {
    font-size: 1.7rem;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

@media (max-width: 500px) {
    .advertisingLink {
        display: none;
    }
}
