.pagination {
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.pagination li {
    margin: -1px;
    cursor:pointer;
    color: dodgerblue;
    line-height: 1.25;
    border: 1px solid #ccc;
    padding: 0.5rem 0.75rem;
    transition: background .3s;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
}

.pagination li > i{
	cursor: pointer;
    font-size: 18px;
    vertical-align: central;
}

.pagination li:hover {
    opacity: .7;
    color: white;
    box-shadow: 0 0 1px inset;
    background: linear-gradient(to bottom, #379cff 0%, #0a86ff 100%);
}

.pagination li.active {
    opacity: 1;
    color: white;
    box-shadow: 0 0 2px inset;
    background: linear-gradient(to bottom, #379cff 0%, #0a86ff 100%);
}

.pagination li:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination li:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
