.toolbar {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.toolbar > button {
    border: none;
    font-size: 20px;
    margin: 0px 5px;
    background: none;
    padding: 5px 10px;
}

.toolbar > button:hover {
    color: white;
    background: #ccc;
    border-radius: 10px;
}

.toolbar i {
    cursor: pointer;
    margin-right: 5px;
}
