<nav class="userMenu">
    <AuthorizeView>
        <Authorized>
            <a>Hello, @context.User.Identity.Name</a>
            <a @onclick="Logout">Выход</a>
        </Authorized>
        <NotAuthorized>
            <AuthorizationAndRegistration />
        </NotAuthorized>
    </AuthorizeView>
</nav>