<nav class="userMenu">
    <AuthorizeView>
        <Authorized>
            <a @onclick="Logout" title="@IdentityResource.Exit">@_nickname</a>
        </Authorized>
        <NotAuthorized>
            <AuthorizationAndRegistration AuthorizationCompleteAsync="AuthorizationCompleteAsync" />
        </NotAuthorized>
    </AuthorizeView>
</nav>