<nav class="userMenu">
    <AuthorizeView>
        <Authorized>
            <a @onclick="Logout" title="Выход" >@_nickName</a>
        </Authorized>
        <NotAuthorized>
            <AuthorizationAndRegistration />
        </NotAuthorized>
    </AuthorizeView>
</nav>