.yinyangSpinner {
    margin: auto;
    position: absolute;
    top: calc(30% - 15vmin);
    left: calc(50% - 15vmin);
    background-color: transparent;
}

.yinyangSpinner__textContainer {
    width: 30vmin;
    height: 30vmin;
    top: 0%;
    left: 0%;
    margin: auto;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.yinyangSpinner__text {
    color: white;
    font-size: 3.5vh;
    mix-blend-mode: difference;
    font-family: "Monotype Corsiva";
}

    .yinyangSpinner__text span {
        display: block;
        text-align: center;
    }

.yinyangSpinner__symbol {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
    background: linear-gradient(white 50%, black 0);
    animation: r 4s linear infinite;
}

    .yinyangSpinner__symbol:before,
    .yinyangSpinner__symbol:after {
        --i: 0;
        position: absolute;
        top: 25%;
        right: calc((1 - var(--i))*50%);
        bottom: 25%;
        left: calc(var(--i)*50%);
        border: solid 5vmin hsl(0, 0%, calc(var(--i)*100%));
        transform-origin: calc(var(--i)*100%) 50%;
        transform: scale(0.7);
        background: hsl(0, 0%, calc((1 - var(--i))*100%));
        border-radius: 50%;
        animation: s 2s ease-in-out calc(var(--i)*-2s) infinite alternate;
        content: "";
    }

    .yinyangSpinner__symbol:after {
        --i: 1;
    }

@keyframes s {
    to {
        transform: scale(1.3);
    }
}

@keyframes r {
    to {
        transform: rotate(1turn);
    }
}
