.valid.modified:not([type=checkbox]) {
    border-bottom: 1px solid #26b050;
}

.invalid {
    border-bottom: 1px solid red;
}

.validation-errors {
    margin-bottom: 5px;
}

.validation-message {
    color: red;
    white-space: pre-line;
}
