/* medium.com/@krokhin.ezh/%D0%BA%D0%B0%D0%BA-%D1%81%D0%BE%D0%B7%D0%B4%D0%B0%D1%82%D1%8C-%D0%B3%D0%B0%D0%BC%D0%B1%D1%83%D1%80%D0%B3%D0%B5%D1%80-%D0%BC%D0%B5%D0%BD%D1%8E-%D0%B8%D1%81%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D1%83%D1%8F-%D1%82%D0%BE%D0%BB%D1%8C%D0%BA%D0%BE-css-%D0%B8-html-c6abf7c32c6d */
.contextMenu {
    right: 5px;
    width: 130px;
    height: 150px;
    display: flex;
    position: absolute;
    flex-direction: row-reverse;
}

.contextMenu__toggle {
    visibility: hidden;
}
.contextMenu__toggle:checked + .contextMenu__btn > span {
    transform: rotate(45deg);
}
.contextMenu__toggle:checked + .contextMenu__btn > i {
    transform: rotate(-45deg);
}
.contextMenu__toggle:checked + .contextMenu__btn {
    z-index: 4;
}

.contextMenu__btn {
    z-index: 2;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    position: absolute;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.contextMenu__btn > span,
.contextMenu__btn > span::before,
.contextMenu__btn > span::after,
.contextMenu__btn > i,
.contextMenu__btn > i::before,
.contextMenu__btn > i::after  {
    width: 5px;
    height: 5px;
    display: block;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    background-color: #616161;
    transition-duration: .25s;
}
.contextMenu__btn > span::before,
.contextMenu__btn > i::before {
    top: -9px;	
    content: '';
}
.contextMenu__btn > span::after,
.contextMenu__btn > i::after {
    top: 9px;
    content: '';
}

.contextMenu > ul {
    top: -50%;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
    list-style: none;
    visibility: hidden;
    position: absolute;
    border-radius: 15px;
    transition-duration: .25s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
    background: linear-gradient(to bottom, #ddd 0%, #d9d9d9 100%);
}
.contextMenu__toggle:checked ~ ul {
    top: 0;
    z-index: 3;
    visibility: visible;
}

.contextMenu > ul > li {
    padding: 7px;
    color: black;
    display: block;
    cursor: pointer;
    text-align: left;
    border-radius: 15px;
    text-decoration: none;
}
.contextMenu > ul > li:hover {
    background: #d7d7d7;
}
